span{
    /* display: block; */
    /* display: inline-block; */
    /* display: none; */ 
    /* visibility: hidden; */
    margin: 20px;
    padding: 20px;
    display: inline-block;
}

.p2{
    display: inline;
}
.p3{
    display: inline;
}




div{
    /* display: inline; */
    margin: 20px;
    padding: 20px;
}